<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- para que se vea desde cualquier dispositivo-->
    <title>Laponia Finlandesa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class = "header">
    <h1>VISIT LAPONIA</h1>
</div>
<body>
<div class="video">
    <iframe width="1100" height="500" src="https://www.youtube.com/embed/uUPENpBbE5s"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div class="btn_contaco_principal">

    <a href="index.html" class="btn btn-primary btn-lg" > Volver</a>


</div>


</body>
</html>